*{
    margin: 0;
    padding: 0;
}

.outer{
    max-width: 100vw;
    min-height: 100vh;
    background: radial-gradient(red,blue,violet),no-repeat;
    display: flex;
    justify-content: center;

}

#clockcontainer{
    position: relative;
    margin: auto;
    /* border: 2px solid red; */
    width: 40vw;
    height: 40vw;
    background: url(./clock.png) no-repeat;
    background-size: cover;
}

#hours,#minutes,#seconds{
    position:absolute;
    background: linear-gradient(black,brown,blue);
    border-radius: 10px  10px 0 0;
    transform-origin: bottom;
}

#hours{
    height: 23%;
    width: 1.8%;
    top: 27.4%;
    left: 49.12%;
    opacity: 0.9;
    /* display: none; */

}
#minutes{
    height: 27%;
    width: 1.8%;
    top: 23.3%;
    left: 49.04%;
    opacity: 0.8;
    /* display: none; */

}
#seconds{
    height: 31%;
    width: 1.8%;
    top: 19.3%;
    left: 49.05%;
    opacity: 0.7;
    /* display: none; */
    
}